[tool.poetry]
name = "shrinky"
version = "0.0.6"
description = "Shrinks images in the way I want"
authors = ["James Hogkinson <james@terminaloutcomes.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
click = "^8.0.4"
loguru = "^0.6.0"
Pillow = "^9.0.1"

[tool.poetry.dev-dependencies]
pylint = "^2.15.5"
pytest = "^7.1.3"
mypy = "^0.982"
black = "^22.10.0"
types-Pillow = "^9.2.2"
bandit = "^1.7.4"
coverage = "^6.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[project.scripts]
"shrinky" = 'shrinky.__main__:cli'
[tool.poetry.scripts]
"shrinky" = 'shrinky.__main__:cli'

[tool.pylint.MASTER]
max-line-length=200
disable="W0511"
